<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    <testsuites>
            <testsuite name="ApplicationsTest">
		         <directory>./ApplicationsTest</directory>
            </testsuite>
     </testsuites>
</phpunit>