<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="AllTests">
            <directory>../module/Auth/test/AuthTest</directory>
            <directory>../module/Jobs/test/JobsTest</directory>
            <directory>../module/Organizations/test/OrganizationsTest</directory>
        </testsuite>
    </testsuites>
</phpunit>