<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Bootstrap.php" colors="true" ignoreDeprecatedCodeUnitsFromCodeCoverage="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../module/*/src</directory>
            <exclude>
                <file>../module/Applications/src/autoload_classmap.php</file>
                <file>../module/Auth/src/autoload_classmap.php</file>
                <file>../module/Core/src/autoload_classmap.php</file>
                <file>../module/Cv/src/autoload_classmap.php</file>
                <file>../module/Geo/src/autoload_classmap.php</file>
                <file>../module/Install/src/autoload_classmap.php</file>
                <file>../module/Jobs/src/autoload_classmap.php</file>
                <file>../module/Organizations/src/autoload_classmap.php</file>
                <directory>../module/Behat</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="AllTests">
            <directory>../module/Applications/test/ApplicationsTest</directory>
            <directory>../module/Auth/test/AuthTest</directory>
            <directory>../module/Core/test/CoreTest</directory>
            <directory>../module/Cv/test/CvTest</directory>
            <directory>../module/Geo/test/GeoTest</directory>
            <directory>../module/Install/test/InstallTest</directory>
            <directory>../module/Jobs/test/JobsTest</directory>
            <directory>../module/Organizations/test/OrganizationsTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
