<?php

use Core\Bootstrap;

return array(
    'doctrine' => array(
        'configuration' => array(
            'odm_default' => array(
                'default_db' => 'YAWIK_TEST',
            ),
        ),
    ),
    'modules' => Bootstrap::generateModuleConfiguration([
	    'Install',
	    'Core',
	    'Auth',
	    'Jobs',
	    'Geo',
	    'Cv',
	    'Settings',
	    'Applications',
	    'Organizations',
    ]),
    'module_listener_options' => array(
        'module_paths' => array(
            './module',
            './vendor',
        ),

        'config_glob_paths' => array(
            __DIR__  .  '/config/{,*.}{global,local}.php',
        ),
    ),
    'core_options' => [
        'publicDir' => sys_get_temp_dir().'/yawik/public',
    ]
);