<?php
/**
 * Module options override.
 */

$options = [
    // set true if using https
    'secure'    => false,

    //The hostname for the Solr server
    'hostname'  => 'some.solrserver.org',

    //The port number
    'port'      => 8983,

    //The username used for HTTP Authentication, if any
    'username'  => 'username',

    //The HTTP Authentication password
    'password'  => 'password',
];

/*
 * Do not change below this line
 */
return [ 'options' => [ 'Solr/Options/Module' => [ 'options' => $options ] ] ];
