<?php


/**
 * Name of the used geo coder plugin. You can use 'photon' or 'geo'. Photon is recommended.
 */
$plugin = 'photon';

/**
 * Location of your geo coder server. If unsure, leave it unchanged. Possible values are:
 * - http://photon.yawik.org/api
 * - http://api.cross-solution.de/geo
 */
$geoCoderUrl = 'http://photon.yawik.org/api';

/**
 * Default country. This currently only affects the "geo" plugin. Possible values DE,CH,AT,FR,IT,LI,ES,CZ
 */
$country = "DE";


//
// Do not change below this line!
//

return [
    'options' => [
        'Geo/Options' => [
            'options' => [
                'plugin' => $plugin,
                'country' => $country,
                'geoCoderUrl' => $geoCoderUrl,
            ],
        ],
    ],
];
