#
# General text editors backup files
#
*~

#
# config files
#
config/phpdoc.xml
config/autoload/*.php

#
# Unit test code coverage reports
#
public/coverage
public/docs
*/*/test/coverage
log

#
# Composer packages
#
vendor
 
#
# Eclipse project files
#
.settings
.buildpath
.project
nbproject

public/css/Applications
public/css/Auth
public/css/Core
public/css/Cv
public/css/Jobs
public/css/Settings
public/css/CamMediaintown
public/images/Applications
public/images/Auth
public/images/Core
public/images/Cv
public/images/Jobs
public/images/Settings
public/images/CamMediaintown
public/js/Applications
public/js/Auth
public/js/Core
public/js/Cv
public/js/Jobs
public/js/Settings
public/js/CamMediaintown