#
# General text editors backup files
#
*~

#
# config files
#
config/phpdoc.xml
config/autoload/*.php

#
# Unit test code coverage reports
#
public/coverage
public/docs
*/*/test/coverage
log

#
# Composer packages
#
vendor
 
#
# Eclipse project files
#
.settings
.buildpath
.project
nbproject
public/Applications
public/Auth
public/CamMediaintown
public/Core
public/Cv
public/Jobs
public/Settings