# This file is part of the YAWIK Project
# (c) 2013 - 2016 Cross Solution (http://cross-solution.de)

default:
    formatters:
        progress:
            verbose: true
            paths: false
    extensions:
        Lakion\Behat\MinkDebugExtension:
            directory: build/behat
            clean_start: true
            screenshot: true

        Novaway\CommonContexts\Extension: ~

        Behat\MinkExtension:
            # change this base url value to match
            # your local development server url:
            base_url: "http://localhost:8080"
            files_path: "%paths.base%/module/Behat/resources/fixtures/"
            javascript_session: chrome
            sessions:
                chrome:
                    selenium2:
                        browser: chrome
                        capabilities:
                            browserName: chrome
                            browser: chrome
                            version: ""
                            chrome:
                                switches:
                                    - "--headless"
                                    - "--disable-gpu"
                                    - "--window-size=2000,2000"
                                    - "--lang=en"
                                    - "--no-sandbox"
            show_auto: false

    gherkin:
        filters:
            tags: "~@social-profile"

    suites:
        user:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Yawik\Behat\CoreContext
                - Yawik\Behat\OrganizationContext
                - Yawik\Behat\SettingsContext
                - Yawik\Behat\Select2Context
                - Yawik\Behat\UserContext
                - Yawik\Behat\JobContext
                - Yawik\Behat\ApplicationContext
                - Yawik\Behat\SummaryFormContext
                - Yawik\Behat\CvContext
                - Yawik\Behat\InstallContext
                - Yawik\Behat\MailContext
