; This file contains configuration options. By executing:
;
; ./phing.phar generate-autoload-config
;
; The values are written to configuration files located in config/autoload
; 


email=

;
; role of the initial user.
; possible roles: [ user | recruiter |admin ]
;

role=recruiter

;
; external appKey. You can add jobs and users by using a simple API. This 
; external.appkey is a pre-shared key, which allows your external application
; to authenticate. An empty value disables this feature.
;

external.app.key=will-be-overwritten-during-build-process
external.app.prefix=myapp

; subject of the initial email, if somebody logs into via a social network
mail.first_login.subject=Welcome to the YAWIK demo

auth.suffix=

;
; Email development system settings
; (module/Core/config/core.mails.development.php.dist).
;
; Override recipient for every mail send. (including CC and BCC)
; Use comma to separate multiple addresses.
;
mail.develop.override_recipient=

;
; For Developers: If you plan to contribute to the development, you can define some deployment variables. 
;

; where to deploy the api docs generated via phpdoc 
deploy.ssh.host =
deploy.ssh.user =
deploy.docs.target =

; als long there is no mechanism to read properties files from modules, we
; put this config option here
yawik.demoskin.piwik=/../../module/YawikDemoSkin/view/.piwik.phtml

