;
; enviroment
;
app.env=production

;
; Database Settings (module/Core/config/module.core.doctrine.config.local.php.dist)
;
mongo.host=localhost
mongo.port=27017
mongo.db=Yawik

;
; Email (module/Core/config/core.mails.global.php.dist)
;
mail.from.email=demo@yawik.org
mail.from.name=YAWIK

;
; Facebook, Xing and Linkedin credentials. (module/Auth/config/module.auth.global.php.dist)
;

facebook.enabled=false
facebook.appid=
facebook.secret=
facebook.scope="email, user_about_me, user_birthday, user_hometown", "user_work_history", "user_education_history"

xing.enabled=false
xing.appid=
xing.secret=
xing.scope=

linkedin.enabled=false
linkedin.appid=
linkedin.secret=
linkedin.scope="r_fullprofile"

