; This file contains configuration options. By executing:
;
; ./phing.phar generate-autoload-config
;
; The values are written to configuration files located in config/autoload
; 

;
;
; Database Settings (module/Core/config/module.core.doctrine.config.local.php.dist)
;
mongo.host=localhost
mongo.port=27017
mongo.db=Yawik

;
; initial user login. The useraccount will be added to the mongodb if not exist.
;

username=demo
password=demo

;
; Email (module/Core/config/core.mails.global.php.dist).
;
mail.from.email=demo@yawik.org
mail.from.name=YAWIK

;
; Facebook, Xing and Linkedin credentials. (module/Auth/config/module.auth.global.php.dist)
; You'll het an facebook app ID by creating a Facebook app. 
; more info: https://developers.facebook.com/ 

facebook.enabled=false
facebook.appid=<put your facebook app ID here>
facebook.secret=<put you facebook app secret here>
facebook.scope=email,user_about_me,user_birthday,user_hometown,user_work_history,user_education_history

; more info: https://dev.xing.com/
xing.enabled=false
xing.appid=<put your xing app ID here>
xing.secret=<put your xing app secret here>
xing.scope=

; more info: https://developer.linkedin.com/
linkedin.enabled=false
linkedin.appid=<put your linkedin app ID here>
linkedin.secret=<put your linkedin app secret here>
linkedin.scope=r_fullprofile

;
; For Developers: If you plan to contribute to the development, you can define some deployment variables. 
;

; where to deploy the api docs generated via phpdoc 
deploy.ssh.host =
deploy.ssh.user =
deploy.docs.target =

;
; enviroment. 
; production: enables caching, disables error_reportings.
; development: no caching, debugging enabled.
;
app.env=production
