.twitter-typeahead {
    width: 100%;
}

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 4px;
    padding: 12px 0;
    width: 360px;
}

.tt-dropdown-menu div {
    
}

.tt-suggestions {
    
}

.tt-suggestion {
      font-size: 14px;
    line-height: 24px;
    padding: 0px 20px;
}


.tt-suggestion p {
    margin: 0px 0px;
}

.tt-cursor {
    background-color: #C8C8FF;
}

