<?php
/**
 * YAWIK  
 *
 * @copyright (c) 2013-2104 Cross Solution (http://cross-solution.de)
 * @license   MIT
 * @author Mathias Gelhausen <gelhausen@cross-solution.de>
 */
 
/*
 * System mail configuration for development systems.
 * @todo: move this option into module.core.options
 */
return array(
    'mails' => array(
        'develop' => array(
        	/* 
        	 * Every mail send from the system will be send ONLY to this address(es),
        	 * regardless of the original set recipient(s) (including CC and BCC).
        	 * Use comma to separate addresses. 
        	 * Use an empty string (or comment out) to disable.
        	 */
        	'override_recipient' => '%%mail.develop.override_recipient%%',

        ),
    ),
);
