<?php
/**
 * YAWIK  
 *
 * @copyright (c) 2013-2015 Cross Solution (http://cross-solution.de)
 * @license   MIT
 * @author Mathias Gelhausen <gelhausen@cross-solution.de>
 */

/*
 * to modify the options, copy this file without the ".dist" suffix to the
 * autoload directory and modify the values
 * Note: This file is only read, if the env APPLICATION_ENV=development is set.
 */

return array(
    'mails' => array(
        'develop' => array(

            /**
             * Every mail send from the system will be send ONLY to this address(es),
             * regardless of the original set recipient(s) (including CC and BCC).
             * Use comma to separate addresses. Original recipient are written as X-Original-Recipients
             * to the mail header.
             *
             * Use an empty string (or comment out) to disable.
             */

        	'override_recipient' => '',

        ),
    ),
);
