<?php
/**
 * YAWIK
 * 
 * @filesource
 * @copyright (c) 2013-2015 Cross Solution (http://cross-solution.de)
 * @license   MIT
 * @author    weitz@cross-solution.de
 */

 /*
  * to modify the options, copy this file without the ".dist" suffix to the
  * autoload directory and modify the values
  */
  
$options = array(
    /**
     * The name of the Site used in Mails. Typically it's the name of your website
     */
    'siteName' => 'YAWIK',

    /**
     * Contact Data, which can be used in Mail Signatures or the imprint page.
     */
    'operator' => array(
                          'companyShortName'=>'Your Company Name',
                          'companyFullName' => 'Your Company Name Ltd. & Co KG',
                          'companyTax' => 'Your FAT Number',
                          'postalCode' => 'xxxx',
                          'city' => '',
                          'street' => '',
                          'name' => '',
                          'email' => '',
                          'phone' => '',
                          'fax' => ''
                       ),
    /**
     * Supported languages used by the language switcher. This array defines the languages,
     * which are available in the frontend
     */
    'supportedLanguages' => array(
        'de' => 'de_DE',
        'fr' => 'fr',
        'en' => 'en_EN',
        'es' => 'es',
        'it' => 'it',
    ),

    /**
     * if true, YAWIK tries to detect the browser settings
     */
     'detectLanguage' => true,

    /**
     * The defaultLanguage defines the fallback Language, if no language is set.
     */
     'defaultLanguage' => 'de'
);

return array('core_options' => $options);