<?php
/**
 * YAWIK
 * 
 * @filesource
 * @copyright (c) 2013-2015 Cross Solution (http://cross-solution.de)
 * @license   MIT
 * @author    weitz@cross-solution.de
 */

 /*
  * to modify the options, copy this file without the ".dist" suffix to the
  * autoload directory and modify the values
  */
  
$options = array(
    /**
     * The sitename is used in Mails. Typically it's the name of your website
     */
    'siteName' => 'YAWIK',
);

return array('core_options' => $options);