<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="JobsTest">
            <directory>./JobsTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
