<?php
return array(
    'form_elements_config' => array(
        'file_upload_factories' => array(
            'organization_logo_image' => array(
                'max_size' => '%%organizations.forms.logoimage.maxsize%%',
                'mimetype' => '%%organizations.forms.logoimage.mimetype%%',
            ),
        ),
    ),
);