<?php

$options = array(
       /*
        * enable captcha feature. Possible values:
        * - none: captcha feature is disabled
        * - reCaptcha: Google reCaptcha service is used.
        * - image: local images are created
        */
        'mode' => 'none',

       /*
        * you have to create your private/public key.
        * See https://www.google.com/recaptcha/admin#list
        */
        'reCaptcha' => [
            'public_key' => 'Your Recapture Public Key',      // "site_key"
            'private_key' => 'Your Recapture Private Key',    // "secret_key"
            'ssl' => true,                                    // include google api via http(s)
            ],

        /*
         * image mode creates local images by using the php gd extension
         */
        'image' => [
            'expiration' => '300',
            'wordlen' => '7',
            'font' => 'data/fonts/arial.ttf',
            'fontSize' => '20',
            'imgDir' => 'public/captcha',
            'imgUrl' => '/captcha'
        ]

        );

//
// Do not change below this line!
//

return [
    'options' => [
        'Auth/CaptchaOptions' => [
            'options' => $options
        ],
    ],
];