<?php

return array(
	'hybridauth' => array(
        "Facebook" => array ( 
            "enabled" => "%%facebook.enabled%%",
            "keys"    => array ( "id" => "%%facebook.appid%%", "secret" => "%%facebook.secret%%" ), 
            "scope"   => "%%facebook.scope%%",// optional
            "display" => "popup"
        ),
        "LinkedIn" => array (
            "enabled" => "%%linkedin.enabled%%",
            "keys"    => array ( "key" => "%%linkedin.appid%%", "secret" => "%%linkedin.secret%%" ),
            "scope"   => "%%linkedin.scope%%"
        ),
        "XING" => array(
            "enabled" => "%%xing.enabled%%",
            'keys'    => array ( "key" => '%%xing.appid%%', 'secret' => '%%xing.secret%%'),
            "scope"   => '%%xing.scope%%'
        ),
//        "OpenID" => array(
//            'enabled' => true
//        )
    ),
    
    'Auth' => array(
    	'default_user' => array(
    		'login' => '%%username%%',                          // username of the initial user
    		'password' => '%%password%%',                       // password of the initial user
    		'role' => 'admin',                               // role of the initial user
    		'email' => '%%email%%',                             // email-adress of the default-users
    	),
    	'first_login' => array (
    	    'role' => '%%role%%',                                            // role set on the first login.
    	    'from_name' => '%%mail.from.name%%',                             // set the name in welcome Mail header
    	    'from_email' => '%%mail.from.email%%',                           // set the From email in welcome Mail headers
    	    'mail_subject_registration' => '%%mail.first_login.subject%%',   // subject of the welcome mail
    	    'auth_suffix' => '%%auth.suffix%%',                              // an auth suffix is needed, if you plan to add external apps.
    	),
    	// this allows an external application to use the YAWIK API
    	// applications[USERPOSTFIX] => AppKey
        'external_applications' => array(
            '%%external.app.prefix%%' => '%%external.app.key%%',
        ),
    ),
    'captcha' => array(
        'use' => 'reCaptcha', // possible Values are 'image' or 'reCaptcha'
        'reCaptcha' => array(
            // these information you need to get from: https://www.google.com/recaptcha/admin#list
            'public_key' => '%%captcha.recapture.public_key%%',   // "site_key"
            'private_key' => '%%captcha.recapture.private_key%%', // "secret_key"
            'ssl' => true,                                        // include google api via http(s)
        ),
        'image' => array(
            'expiration' => '300',
            'wordlen' => '7',
            'font' => 'data/fonts/arial.ttf',
            'fontSize' => '20',
            'imgDir' => 'public/captcha',
            'imgUrl' => '/captcha'
        ),
    )
);