/**
* Icons
*/

.@{yawik-css-prefix}-icon-comment:before          { content: @fa-var-comment;}
.@{yawik-css-prefix}-icon-delete:before           { content: @fa-var-trash-o;}
.@{yawik-css-prefix}-icon-download:before         { content: @fa-var-download;}
.@{yawik-css-prefix}-icon-edit:before             { content: @fa-var-pencil-square-o;}
.@{yawik-css-prefix}-icon-facebook:before         { content: @fa-var-facebook;}
.@{yawik-css-prefix}-icon-forward:before          { content: @fa-var-forward;}
.@{yawik-css-prefix}-icon-history:before          { content: @fa-var-list;}
.@{yawik-css-prefix}-icon-linkedin:before         { content: @fa-var-linkedin;}
.@{yawik-css-prefix}-icon-login:before            { content: @fa-var-sign-in;}
.@{yawik-css-prefix}-icon-logout:before           { content: @fa-var-sign-out;}
.@{yawik-css-prefix}-icon-minus:before            { content: @fa-var-minus;}
.@{yawik-css-prefix}-icon-new:before              { content: @fa-var-asterisk;} 
.@{yawik-css-prefix}-icon-pagination-end:before   { content: @fa-var-step-forward;}
.@{yawik-css-prefix}-icon-pagination-start:before { content: @fa-var-step-backward;}
.@{yawik-css-prefix}-icon-password:before         { content: @fa-var-key;}
.@{yawik-css-prefix}-icon-plus:before             { content: @fa-var-plus;}
.@{yawik-css-prefix}-icon-portrait:before         { content: @fa-var-user;}
.@{yawik-css-prefix}-icon-portrait:empty          { width: 1.12em;}
.@{yawik-css-prefix}-icon-sort:before             { content: @fa-var-sort;}
.@{yawik-css-prefix}-icon-sort-desc:before        { content: @fa-var-sort-desc;}
.@{yawik-css-prefix}-icon-sort-asc:before         { content: @fa-var-sort-asc;}
.@{yawik-css-prefix}-icon-user:before             { content: @fa-var-user;}
.@{yawik-css-prefix}-icon-xing:before             { content: @fa-var-xing;}
.@{yawik-css-prefix}-icon-group:before            { content: @fa-var-users;}


.@{yawik-css-prefix}-icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

