.twitter-typeahead {
 // might be needed for the geo plugin. (location autocompletition)
 //   width: 100%;
}

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: @border-radius-base;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
    font-size: @font-size-base;

    padding: 10px 20px;
    border-top: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    p {
      margin: 0;
    }
    
}
.tt-suggestion:first-child {
	border-top: none;
}

.tt-cursor {
	color: #fff;
   background-color: @brand-primary;
}
