.twitter-typeahead {
    width: 100%;
}

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
    
}

.tt-suggestion {
      font-size: 14px;
    
    padding: 10px 20px;
    border-top: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    p {
      margin: 0px 0px;
    }
    
}
.tt-suggestion:first-child {
	border-top: none;
}

.tt-cursor {
	color: #fff;
   background-color: @brand-primary;
}
