body{padding:60px 0 30px}
h1{border-bottom:1px solid #ccc}
th a{display:block;color:#f00}
th a:hover{color:#005580;text-decoration:none}
#topbar .container{width:auto;margin:0 20px}
#topbar #login-info-box #login-links{line-height:0}
#topbar #login-info-box #login-links .login-link{display:block;float:left;width:20px;height:20px;margin:10px 0 0 10px}
.navbar .nav>.dropdown>a{float:left}
#sidebar{margin-top:-20px;width:13.8936%}#sidebar #language-switcher{width:100%}
#sidebar #language-switcher button{width:50%}
#sidebar>div{margin-top:35px}
#sidebar ul li.active a{background-color:#f5f5f5}
label{margin-top:5px}
.buttons-row>*{margin-right:15px}
form .input-error{color:#b94a48}
form .input-error input{border-color:#b94a48;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset}
form .input-error input:focus{border-color:#953b39;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 6px #d59392}
fieldset fieldset,fieldset .fieldset-content{border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin-bottom:20px;padding:20px;background-color:#fdfdfd}
.form-inline fieldset .fieldset-content .controls-row{margin-bottom:15px}
fieldset legend>a{margin-top:5px;margin-right:5px}
fieldset fieldset a.remove-item{margin-top:-15px;margin-right:5px}
footer.modal-footer{color:#777;position:fixed;bottom:0;left:0;width:100%;padding:0}
footer.modal-footer .container-fluid{margin-top:1px}
footer.modal-footer .container-fluid p{margin:0}
footer.modal-footer .container-fluid p a{color:#555}
