@CHARSET "UTF-8";

body {
	padding: 60px 0 30px;
	
}

h1 {
	border-bottom: 1px solid #ccc;
	
}
.container {
	width: 1024px;
}
#topbar .container {
	width: auto;
	margin: 0 20px;
}
#topbar #login-info-box #login-links {
	line-height: 0px;
}
#topbar #login-info-box #login-links .login-link {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin: 10px 0 0 10px;
}
footer.modal-footer {
	color: #777;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0;
}
footer.modal-footer .container-fluid {
	margin-top: 1px;
}
footer.modal-footer .container-fluid p {
	margin: 0;
}
footer.modal-footer .container-fluid p a {
	color: #555;
}
footer.modal-footer .container-fluid p a:hover {
	color: #333;
}