@charset "utf-8";
/* CSS Document */

body {
	font-size: 100%; /* Resets 1em to 10px */
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	background: #ffffff;
	}
#footer a {
    font-size: 0.9em;
    text-decoration: none;
}
a, a:link, a:visited {
    color: #5498D7;
}
a, a:link, a:visited {
    color: #5498D7;
}
a:hover, a:active {
    color: #FAA427;
    text-decoration: underline;
}
h1{color: #5498D7; margin-bottom: 0px;}
h3{color: #5498D7; font-size: 15px; margin-top: 6px;}
h4{color: #FAA427; font-size: 13px; margin-top: 20px; margin-bottom: 7px;}
ul{margin: 0px; padding: 0px; list-style: none; line-height: 20px;}
li{ background: url(bullet.png) left top no-repeat; padding-left: 15px;}
address{padding: 20px 0 20px 0; font-style: normal;}
#page {
 	border: 1px solid #CFDFFF;
	width: 700px;
	margin: auto;
	}

#header {
	top: 77px;
	left: 0;
	height:140px;
	padding:5px;
	text-align:right;
	color:#000;
	clear: both;
}
	

#header img.logo{
  text-align:left;
  float:left;
}

#headerimg a:link, #headerimg a:visited, #headerimg a:active, #headerimg a:hover, #headerimg h1 a:link, #headerimg h1 a:visited, #headerimg h1 a:active, #headerimg h1 a:hover {
	font: 700 40px Verdana,Tahoma,"Lucida Grande",sans-serif;
        color: #faa427;
	text-decoration: none;
	background: transparent;
}
.description {
    margin-left: 10px;
    clear: both;
    color: #FFFFFF !important;
    font: 600 0.95em "Courier New", Arial,sans-serif; }
#content {
	font-size: 0.78em;
	padding: 25px 15px 0 15px;
}
.apply{padding: 25px 0 25px 0;}
#footer {
	font-size: 0.7em;
	background: #fff;
}
#footer a {
	font-size: 0.8em;
	text-decoration: none;
}
div#footer { 
	font-size: 0.7em;
	width: 700px;
	margin: 0px auto;
	padding: 20px 0px;
	text-align: center;
}