<?php

$options = array(
        /*
        * maximum size in bytes of an uploaded attachment, default 5MB
        */
        'attachmentsMaxSize' => '5000000',

        /*
        * allowed Mime-Type of an uploaded Attachment, default images, *.PDF, *.DOC, *.ODT
        */
        'attachmentsMimeType' => array('image','application/pdf', 'application/vnd.oasis.opendocument.text', 'application/msword'),


        /*
        * maximum amount of uploaded attachments
        */
        'attachmentsCount' => 5,

        /*
        * maximum size in bytes of an uploaded contact photo. default 500kB
        */
        'contactImageMaxSize' => '500000',

        /*
        * allowed Mime-Type of an uploaded contact photo
        */
        'contactImageMimeType' => array('image'),

        /*
        * allowed Mime-Types, images, plain text, *.PDF, *.DOC, *.ODT
        */
        'allowedMimeTypes' => array('image','text','application/pdf', 'application/vnd.oasis.opendocument.text', 'application/msword'),

        /*
        * allows an applicant to subsequent upload attachments to his application.
        */
        'allowSubsequentAttachmentUpload' => false,

    );

return array(
        'application_options' => $options
    );
