<?php
return array(
    'service_manager' => array(
        'factories' => array(
            'ApplicationMapper' => '\Applications\Mapper\MongoDb\Service\ApplicationMapperFactory',
        ),
    ),
);
