<?php

$options = array(
        /*
        * maximum size in bytes of an uploaded attachment
        */
        'attachmentsMaxSize' => '500000',

        /*
        * allowed Mime-Type of an uploaded Attachment
        */
        'attachmentsMimeType' => array('image','application/pdf'),


        /*
        * maximum amount of uploaded attachments
        */
        'attachmentsCount' => 5,

        /*
        * maximum size in bytes of an uploaded contact photo
        */
        'contactImageMaxSize' => '100000',

        /*
        * allowed Mime-Type of an uploaded contact photo
        */
        'contactImageMimeType' => array('image'),

        /*
        * allowed Mime-Types
        */
        'allowedMimeTypes' => array('image','text','application/pdf'),

    );

return array(
        'application_options' => $options
    );
