<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
            <testsuite name="CvTest">
		         <directory>./CvTest</directory>
            </testsuite>
     </testsuites>

    <filter>
        <whitelist>
            <directory
                    suffix=".php">./../src/
            </directory>
        </whitelist>
    </filter>
</phpunit>