<?php
/**
 * YAWIK
 *
 * @filesource
 * @copyright (c) 2013-2015 Cross Solution (http://cross-solution.de)
 * @license   MIT
 */
/*
 * here you can add your channels
 */

$channel['yawik'] = array(
                'label' => 'YAWIK',
                'headline' => /*@translate*/ 'publish your job on yawik.org for free',
                'long_label' => /*@translate*/ 'publish the job for 30 days on %s',
                'linktext' => /*@translate*/ 'yawik.org',
                'route' => 'lang/content',
                'params' => array(
                    'view' => 'jobs-publish-on-yawik'
                )
            );

$channel['jobsintown'] = array(
                'label' => 'Jobsintown',
                'price' => '199',
                'currency' => '€',
                'tax' => 19,
                'headline' => /*@translate*/ 'publish your job on Jobsintown. 199,-€',
                'long_label' => /*@translate*/ 'publish the job for 30 days on %s',
                'linktext' => /*@translate*/ 'www.jobsintown.de',
                'route' => 'lang/content',
                'params' => array(
                    'view' => 'jobs-publish-on-jobsintown'
                )
            );

$channel['homepage'] = array(
                'label' => /*@translate*/ 'Your Homepage',
                'headline' => /*@translate*/ 'enable integration of this job on your Homepage',
                'long_label' => /*@translate*/ 'enable %s of this job on your Homepage',
                'linktext' => /*@translate*/ 'integration',
                'route' => 'lang/content',
                'params' => array(
                    'view' => 'jobs-publish-on-homepage'
                )
            );

return array('multiposting'=> array('channels' => $channel));