<?php

return array(
           'multiposting' => array (
               'channels' => array (
                   'yawik' => array(
                       'name' => 'yawik',
                       'label' => 'YAWIK',
                       'price' => 'free',
                       'headline' => /*@translate*/ 'publish your job on yawik.org for free',
                       'long_label' => /*@translate*/ 'publish the job for 30 days on %s',
                       'linktext' => /*@translate*/ 'yawik.org',
                       'route' => 'lang/multipost',
                       'params' => array(
                           'view' => 'jobs-publish-on-yawik'
                           )
                   ),
                   'jobsintown' => array(
                       'name' => 'jobsintown',
                       'label' => 'Jobsintown',
                       'price' => '199 €',
                       'headline' => /*@translate*/ 'publish your job on Jobsintown. 199,-€',
                       'long_label' => /*@translate*/ 'publish the job for 30 days on %s',
                       'linktext' => /*@translate*/ 'www.jobsintown.de',
                       'route' => 'lang/multipost',
                       'params' => array(
                             'view' => 'jobs-publish-on-jobsintown'
                             )
                   ),
                   'homepage' => array(
                       'name' => 'homepage',
                       'label' => /*@translate*/ 'Your Homepage',
                       'price' => 'free',
                       'headline' => /*@translate*/ 'enable integration of this job on your Homepage',
                       'long_label' => /*@translate*/ 'enable %s of this job on your Homepage',
                       'linktext' => /*@translate*/ 'integration',
                       'route' => 'lang/multipost',
                       'params' => array(
                           'view' => 'jobs-publish-on-homepage'
                       )
                   ),
               ),
        'approvalMail' => '%%approvalMail%%',
        'target' => array(
            'restServer'          => array(
                'uri'           => '%%multiposting.target.uri%%',
                'PHP_AUTH_USER' => '%%multiposting.target.user%%',
                'PHP_AUTH_PW'   => '%%multiposting.target.pw%%'
            )
        ),
    ),
    'Jobs' => array(
	    'default_logo' => '%%default_logo%%'
	),

    'view_manager' => array(
            // Define the discriptions for the channels
            'template_map' => array(

            ),
    ),

);