<?php

return array(
    'multiposting' => array (
        'channels' => array (
            array(
                'name' => 'yawik',
                'label' => 'YAWIK',
                'headline' => /*@translate*/ 'publish your job on yawik.org for free',
                'long_label' => /*@translate*/ 'publish the job for 30 days on %s',
                'linktext' => /*@translate*/ 'yawik.org',
                'route' => 'lang/jobs/multipost',
                'params' => array(
                    'view' => 'yawik'
                    )
            ),
            array(
                'name' => 'jobsintown',
                'label' => 'Jobsintown',
                'headline' => /*@translate*/ 'publish your job on Jobsintown.',
                'long_label' => /*@translate*/ 'publish the job for 30 days on %s',
                'linktext' => /*@translate*/ 'www.jobsintown.de',
                'route' => 'lang/jobs/multipost',
                'params' => array(
                      'view' => 'jobsintown'
                      )
            ),
            array(
                'name' => 'homepage',
                'label' => /*@translate*/ 'Your Homepage',
                'headline' => /*@translate*/ 'enable integration of this job on your Homepage',
                'long_label' => /*@translate*/ 'enable %s of this job on your Homepage',
                'linktext' => /*@translate*/ 'integration',
                'route' => 'lang/jobs/multipost',
                'params' => array(
                    'view' => 'homepage'
                )
            ),
        ),
        'approvalMail' => '%%approvalMail%%'
    ),
    'view_manager' => array(
            // Define the discriptions for the channels
            'template_map' => array(
                'jobs/modals/yawik' => __DIR__ . '/../../module/Jobs/view/modals/yawik.phtml',
                'jobs/modals/jobsintown' => __DIR__ . '/../../module/Jobs/view/modals/jobsintown.phtml',
                'jobs/modals/homepage' => __DIR__ . '/../../module/Jobs/view/modals/homepage.phtml',
            ),
    ),
);