<?php
return array(
    'service_manager' => array(
        'factories' => array(
            'MongoDb' => '\Core\Service\MongoDbFactory',
            'UserMapper' => '\Auth\Service\UserMapperFactory',
        ),
        'initializers' => array(
            'MongoMapper' => '\Core\Service\MongoMapperInitializer',
        ),
    ),
    
    'database' => array(
        'connection' => '---connection_string---',
        'databaseName' => 'CrossApplicantManagement',
    ),
);